/**************
RESET
***************/
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*************
DEBUG
*************/
/* main{
    background-color: rebeccapurple;
}

footer{
    background-color: cadetblue;
} */

/**************
GENERAL
**************/

.container-wrap{
    display: flex;
    flex-wrap: wrap;
}

header{
    background-color: #000000;
    width: 50px ;
    height: calc(100% - 80px);
    overflow-y: auto;
    height: 90vh;
}

main{
    width: calc(100% - 50px);
    height: calc(100% - 80px);
    overflow-y: auto;
    height: 90vh;
}

footer{
    height: 80px;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.gap-30 {
    gap: 30px;
}

img{
    max-width: 100%;
}


/***************
TIPOGRAFY
***************/
body{
    font-family: "Roboto", sans-serif;
}
/**************
HEADER
***************/
.hidden{
    display: none;
}

header img{
    padding: 10px;
}

header .logo{
    background-color: #000000;
    position: sticky;
    top: 0;
    left: 0;
}

.header-bottom #profile{
    background-color: #808080;
    border-radius: 100%;
}

.header-bottom{
    color:#808080
}

header span{
    display: none;
}

/**************
MAIN
**************/
.btn-upgrade{
    background-color: #080b12;
    padding: 20px;
    text-align: right;
}

.btn-upgrade button{
    background-color: #080b12;
    border: 1px solid #fff;
    color: #fff;
    padding: 10px 30px;
    font-size: 15px;
    border-radius: 20px;
    cursor: pointer;
}

.main-nav ul{
    list-style: none;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 15px;
}
.main-nav ul a{
    text-decoration: none;
    color: #808080;
}
.main-nav .link{
    padding: 10px 0px;
}

.recently-played, .suggeriti, .artisti{
    background-color: #141922;
    padding: 20px;
}

.main-nav{
    background-color: #141922;
}

.playlist{
    padding: 30px;
}

.col{
    max-width: 215px;
}

section h4, section h1{
    color: #fff;
    padding: 15px 0px;
}

section p{
    color: #808080;
    padding-bottom: 15px;
}

.recently-played p ,
.recently-played h4 , 
.suggeriti h4 , 
.artisti h4{
    text-align: center;
}

/*************
FOOTER
*************/
footer img{
    width: 60px;
}
/*****************
    RESPONSIVE
    Mobile First
*******************/
/* S >= 576px */
@media screen and (min-width: 576px) {
    .hidden{
        display: inline;
    }

    .logo img:not(.hidden){
        display: none;
    }

    header{
        width: 200px;
    }

    main{
        width: calc(100% - 200px);
    }

    header img:not(.hidden){
        width: 50px;
        height: 50px;
        vertical-align: middle;
        padding-left: 5px ;
    }

    header span{
        display: inline ;
        color: #808080;
        line-height: 50px;
    }

    .playlist{
        padding-left: 10px;
    }

    .playlist .plus{
        width: 50px;
        height: 50px;
        background-color: #808080;
        font-size: 45px;
        border: none;
        cursor: pointer;
    }

    .playlist ul{
        list-style: none;
        overflow: auto;
        height: 10vh;
    }

    .playlist ul a{
        text-decoration: none;
        color: #808080;
    }

    .playlist h4{
        color: #fff;
        padding: 10px 0px;
    }

    .main-nav .link{
    width: 50%;
    margin: auto;
    }
}
/* MD >= 768px */
@media screen and (min-width: 768px) {

/* LG >= 992px */
@media screen and (min-width: 992px) {
    
}