/**************
RESET
***************/
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*************
DEBUG
*************/
main{
    background-color: rebeccapurple;
}

footer{
    background-color: cadetblue;
}

/**************
GENERAL
**************/

.container-wrap{
    display: flex;
    flex-wrap: wrap;
}

header{
    background-color: #000000;
    width: 50px ;
}

main{
    max-width: calc(100% - 50px);
    overflow: auto;
    height: 100vh;
}

footer{
    max-height: 100px;
}

/***************
TIPOGRAFY
***************/
/**************
HEADER
***************/
.hidden{
    display: none;
}

header img{
    padding: 10px;
}

.header-nav , .header-top{
    height: calc(100% - 85px);
}

.header-bottom #profile{
    background-color: #808080;
    border-radius: 100%;
}

.header-bottom{
    color:#808080
}

header span{
    display: none;
}

/**************
MAIN
**************/
/*************
FOOTER
*************/
/*****************
    RESPONSIVE
    Mobile First
*******************/
/* S >= 576px */
@media screen and (min-width: 576px) {
    .hidden{
        display: inline;
    }

    .logo img:not(.hidden){
        display: none;
    }

    header{
        width: 200px;
    }

    main{
        width: calc(100% - 200px);
    }

    header img:not(.hidden){
        width: 50px;
        height: 50px;
        vertical-align: middle;
        padding-left: 5px ;
    }

    .header-nav, .header-top {
        height: calc(100% - 90px);
    }

    header span{
        display: inline ;
        color: #808080;
        line-height: 50px;
    }

    .playlist{
        padding-left: 10px;
    }

    .playlist .plus{
        width: 50px;
        height: 50px;
        background-color: #808080;
        font-size: 45px;
        border: none;
        cursor: pointer;
    }

    .playlist ul{
        list-style: none;
        overflow: auto;
        height: 10vh;
    }

    .playlist ul a{
        text-decoration: none;
        color: #808080;
    }

    .playlist h4{
        color: #fff;
        padding: 10px 0px;
    }
}
/* MD >= 768px */
@media screen and (min-width: 768px) {

/* LG >= 992px */
@media screen and (min-width: 992px) {
    
}